// Containers
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: $off_black;
  margin: 0px;
  background-color: $white;
}

// Titles
h1 {
  font-size: 16px;
  font-weight: 600;
}
h2 {
  font-size: 17px;
  color: $dark_grey;
}
h3 {
  color: $dark_grey;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

// Buttons
.text-button,
.colour-button,
.ghost-button {
  outline: none;
  border: none;
  background-color: $white;
  text-align: center;
  padding: 5px 9px;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.colour-button {
  background-color: $blue;
  color: $white;
  border-radius: 4px;
  margin: 6px 0px 6px 0px;

  &:disabled {
    background-color: $light_blue;
  }
}

.ghost-button {
  @include thin-border;
  box-sizing: border-box;
  color: $off_black;
}

// Links
a {
  font-weight: 600;
  color: $blue;
  text-decoration: none;
}
a.dark-link {
  color: $off-black;
}
a.light-link {
  color: $dark_grey;
  font-weight: 400;
}
// Inputs
.grey-input,
.white-input {
  @include thin-border;
  outline: none;
  background-color: $off_white;
  padding: 4px 9px;
  margin: 6px 0px 6px 0px;
  line-height: 30px;

  &::placeholder {
    color: $dark_grey;
  }
}

.white-input {
  background-color: $white;
  color: $off_black;
  line-height: 18px;
  padding: 0px 10px;
  height: 32px;
  font-size: 16px;
  font-weight: 400;
}

// Unordered lists
.error-list {
  color: $red;
  text-align: left;
  font-weight: 400;

  &__item {
    list-style-type: none;
    padding-bottom: 8px;
  }
}

// Horizontal spacer
.spacer-text {
  display: flex;
  flex-direction: row;
  margin: 18px 0px;

  &__spacer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: $light_grey;
    height: 1px;
    position: relative;
    top: 0.45em;
  }

  &__text {
    color: $dark_grey;
    font-weight: 600;
    margin: 0px 18px;
  }
}
