.edit-details {
  display: flex;
  flex-direction: row;
  margin: 20px 16px 10px 20px;

  &__image {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin: 2px 20px 0px 0px;
  }


  &__username {
    color: $off_black;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    margin: 0px 0px 2px 0px;
  }
}

.edit-form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  &__lable {
    display: block;
    margin: 12px 0 4px 0;
    font-size: 16px;
    font-weight: 600;
  }

  &__input {
    display: block;
    margin: 2px 0 2px 0;
    font-size: 16px;
    font-weight: 400;
  }

  &__text-area {
    display: block;
    margin: 6px 0 0 0;
    padding: 6px 10px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
  }

  &__button {
    align-self: flex-start;
    margin: 16px 16px 16px 0; 
  }
}