.profile-details {
    display: flex;
    flex-direction: row;
    margin: 30px 16px 24px 16px;
  
    &__image {
      width: 77px;
      height: 77px;
      margin-right: 28px;
    }
  
    &__info {
      flex: 1 1 auto;
    }
  
    &__info--user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  
    &__username {
      color: $off_black;
      font-weight: 300;
      font-size: 28px;
      line-height: 32px;
      margin: -5px 0px 6px 0px;
    }
  
    &__action-button {
      display: block;
    }
  
    &__bio {
      padding: 0px 16px 21px 16px;
      display: block;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      margin: 0;
    }
    &__name {
      display: block;
      font-weight: 600;
    }
  }