@import "../base";
@import "../global/sprites";

.auth-container {
  &__box {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: $white;
    min-height: 100vh;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 70px 40px;
    width: 100%;
  }

  &__logo {
    @include big-logo;
    @include hide-text;
    margin: 33px auto 33px auto;
  }
}

.auth-footer {
  background-color: $off_white;
  height: 60px;
  width: 100%;
  border-top: 1px solid $light_grey;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;

  &__from {
    color: $dark_grey;
    display: block;
  }
  &__facebook {
    font-weight: 500;
    color: $off_black;
    letter-spacing: 2px;
  }
}

@media (min-width: $breakpoint-mobile) {
  .auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    padding-bottom: 120px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $off_white;

    &__box {
      width: $breakpoint-mobile;
      min-height: 0vh;
      @include thin-border;
    }
  }

}
