.post-feed {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;

  &__body {
    margin-bottom: 15px;
  }

  &__author {
    padding: 16px;
    display: flex;
  }

  &__author-img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &__author-username {
    font-weight: 600;
  }

  &__author-name {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__photo {
    width: 100vw;
    flex: 1 1 100%;
    display: block;
    margin-bottom: 4px;
  }

  &__details {
    padding: 0 16px 4px 16px;
  }

  &__buttons {
    display: flex;
    padding: 0 16px 4px 16px;
  }
  &__button:first-child {
    margin-left: -8px;
  }
  &__button:last-child {
    margin-right: -8px;
  }
  &__button {
    padding: 8px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
  }
  &__button--right {
    margin-left: auto;
  }

  &__hashtag-link {
    color: $dark-blue;
    font-weight: 400;
  }

  &__liker-avatar {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
  }

  &__likes {
    display: flex;
  }

  &__likes,
  &__caption,
  &__comments,
  &__comments-link,
  &__comment-body {
    margin-bottom: 4px;
  }

  &__time {
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    color: $dark-grey;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  &__img {
    box-sizing: border-box;
    width: 33.333333vw;
    height: 33.333333vw;
    object-fit: cover;
  }

  &__img:nth-child(3n-2) {
    padding: 0px 2px 3px 0px;
  }
  &__img:nth-child(3n-1) {
    padding: 0px 1px 3px 1px;
  }
  &__img:nth-child(3n-3) {
    padding: 0px 0px 3px 2px;
  }
}