.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 44px;

  &__like-icon {
    margin: 0 0 0 0;
  }
  &__heading {
    margin: 16px 0 0 0;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    color: $off-black;
  }
  &__subheading {
    margin: 16px 0 0 0;
    color: $off-black;
    text-align: center;
    font-weight: 400;
  }
  &__create-post-link {
    margin: 24px 0 0 0;
  }
}
