.options-modal {
  background-color: $black_transparency;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__body {
    background-color: $white;
    min-width: 260px;
    border-radius: 12px;
    overflow: hidden;
  }

  &__title {
    margin: 27px 27px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $off_black;
  }

  &__list {
      list-style: none;
      margin:0;
      padding:0;

    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 48px;
    padding: 4px 8px;
    border: solid;
    border-color: $light_grey;
    background-color: $white;
    border-width: 1px 0 0 0;
    line-height: 21px;
    font-weight: 400;
    
    &--danger {
        color: $red;
        font-weight: 600;
    }

    &--primary {
        color: $blue;
        font-weight: 600;
    }
  }
}
