.post-grid {
  display: flex;
  flex-wrap: wrap;
  &__img {
    box-sizing: border-box;
    width: 33.333333vw;
    height: 33.333333vw;
    object-fit: cover;
  }

  &__img:nth-child(3n-2) {
    padding: 0px 2px 3px 0px;
  }
  &__img:nth-child(3n-1) {
    padding: 0px 1px 3px 1px;
  }
  &__img:nth-child(3n-3) {
    padding: 0px 0px 3px 2px;
  }
}
