.svg-icon {
  width: 24px;
  height: 24px;
  fill: $off-black;
  overflow: visible; //TODO this might cause bugs?

  &--red {
    fill: $red;
  }
}

@keyframes like-animation-frames {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.svg-like-animation {
  animation-duration: 0.45s;
  animation-timing-function: cubic-bezier(0.54, -0.34, 0.32, 1.36);
  transform-origin: center;
  animation-name: like-animation-frames;
}