.top-nav {
  height: 46px;
  width: 100vw;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: $light_grey;
  background-color: $white;

  &__icon {
    padding: 0;
    margin-top: 4px;
  }

  &__icon-spacer {
    height: 24px;
    width: 24px;
  }

  &__logo {
    margin-top: 2px;
  }

  &__link {
    font-size: 16px;
  }

  &__search-input {
    flex: 1 1 auto;
    text-align: center;

    &--has-text {
      text-align: left;
    }
  }

  &__search-cancel {
    display: inline-block;
    &--hide {
      display: none;
    }
  }
}