.user-list-item {
  display: flex;
  padding: 8px 16px;
  align-items: center;

  &__image {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }

  &__details {
    flex: 1 1 auto;
  }

  &__username {
    font-weight: 600;
    display: inline;
  }

  &__name {
    font-weight: 400;
    color: $dark-grey;
  }

  &__post-image {
    height: 48px;
  }

  &__message {
    font-weight: 400;
  }

  &__time {
    color: $dark-grey;
  }
}
