

button {
    outline: none;
    border:none;
    background-color: white;
    border:none;
}

body {
    margin: 0px;
}



h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:17px;
    color: #8e8e8e;
}

h1.logo {
    background-image: url(/notinstagram.png);
    background-repeat: no-repeat;
    background-position: -98px 0;
    height: 51px;
    width: 175px;
    margin: auto;

    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
}x

.error {
    border-color: red;
}

.hidden {
    display:none;
}

.imageEditor {
    background-color: black;    
}


@import 'scss/normalize.scss';
@import 'scss/components/mobile_header';
@import 'scss/components/mobile_footer';