@import "../base";

.account-details {
  display: flex;
  flex-direction: row;
  margin: 30px 16px 20px 16px;

  &__image {
    border-radius: 50%;
    width: 77px;
    height: 77px;
  }

  &__username {
    color: red;
  }

  &__edit-button {
    color: red;
  }
}
